# Copy this file to .env and fill in your values.

WANDB_API_KEY='<your-key>'

CONFIG='config.yaml'
# --- OR ---
# (You can use a remote config file) https://github.com/Mistral-MCP-Hackathon-2025/config-files-server
# CONFIG_FILENAME='config.yaml'
# VERSION='v1'
# URL='https://your.domain'
# API_KEY='your-api-key'
MISTRAL_API_KEY="your_mistral_api_key_here" # To generate embeddings for Qdrant
QDRANT_URL="your_qdrant_url_here" # Your Qdrant instance URL
QDRANT_API_KEY="your_qdrant_api_key_here" # To access your Qdrant instance
